.card-add-solicitud {
    position: absolute;
    top:10em;    
    left:10em;
}

.card-add-new {
    position:absolute;
    top:10em;
    left: 43em;
    
}

.textfield-correo{
    position: relative;
    top: -10px;
    left: 10px;
}

.datepicker{
    position:relative;
    left:20em;
    top:-200px;
}

.time{
    position:relative;
    left: 20em;
    top: -150px;
    
}

.button-nueva{
    position:relative;
    top:-80px;
    left:500px;
}